body {
	background-color: #fff;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

#mobile-menu {
    background-color: rgba(28, 53, 119);
    width: 100%;
    display: flex;
    height: 80px;
}

#mobile-menu {
    text-align: right;
}

#mobile-menu .cusbutton {
    display: inline-block;
    margin-right: 50px;
    float: right;
    align-self: center;
}

#mobile-menu .top {
    left: 34%;
    top: 35%;
    -webkit-transition: all 0.5s;
}

#mobile-menu .middle {
    left: 34%;
    top: 50%;
    -webkit-transition: all 0.5s;
}

#mobile-menu .bottom {
    left: 34%;
    top: 65%;
    -webkit-transition: all 0.5s;
}

#mobile-menu .menutextbottom {
    color: #fff;
    top: 17%;
    position: absolute;
    right: 0;
    font-size: 25px;
    font-weight: 500;
}

#mobile-menu .logo-container {
    float: left;
    margin-left: 50px;
    align-self: center;
}

#mobile-menu .logo-container img {
    float: left;
}

.cusbutton {
    width: 200px;
    height: 60px;
    background-color: rgba(28, 53, 119, 0.7);
    position: relative;
    cursor: pointer;
    margin: auto !important;
}

.bar {
    width: 40px;
    height: 0px;
    border: 2px solid white;
    position: absolute;
    border-radius: 10px;
}

.navbar-laravel {
    background: rgba(28, 53, 119);
}

.navbar-laravel > .row {
	width: 100%;
}

.navbar-laravel .center {
	display: flex;
	justify-content: center;
}

.navbar-laravel .center .logo-container {
	align-self: center;
}

.navbar-laravel .center .user-name {
	align-self: center;
	color: #fff;
	font-size: 18px;
}

.user-name .bold {
	font-weight: 800;
}

.header-image-container {
    position: relative;
    background-image: url(../images/alumni_header_image.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 750px;
}

.welcome-container {
    text-align: center;
    padding-top: 30px;
    background-color: #fff;
}

.welcome-intro h1 {
    color: rgba(28, 53, 119);
    font-weight: 800;
    letter-spacing: 10px;
}

.welcome-headline {
    color: rgba(28, 53, 119);
    padding-top: 20px;
}

.welcome-text {
	padding-top: 20px;
    padding-bottom: 40px;
	margin: 0 100px;
}

.class-notes-container {
    background-color: rgba(28, 53, 119);
    text-align: center;
    color: #fff;
    padding: 40px 50px 50px 50px;
    margin-top: 15px;
}

.class-notes-container h1 {
    font-weight: 800;
    letter-spacing: 10px;
}

.class-notes-container .headline {
	padding-top: 20px;
	font-size: 27px;
    font-weight: 400;
}

.class-notes-container .text {
    padding-bottom: 25px;
}

.enter-btn {
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 10px 45px;
    color: #fff;
    font-weight: 800;
    font-size: 21px;   
}

.photo-gallery-container {
    background-color: #495e93;
    text-align: center;
    color: #fff;
    padding: 40px 50px 50px 50px;
    margin-top: 15px;
}

.photo-gallery-container h1 {
    font-weight: 800;
    letter-spacing: 10px;
}

.photo-gallery-container .headline {
	padding-top: 20px;
	font-size: 27px;
    font-weight: 400;
}

.photo-gallery-container .text {
    padding-bottom: 25px;
}

.photo-gallery-container .enter-btn {
    background-color: #fff;
    color: rgba(28, 53, 119);
    border: 2px solid rgba(28, 53, 119);;
}

.jobs-container {
    background-color: #DEE1EA;
    text-align: center;
    color: #fff;
    padding: 40px 50px 50px 50px;
    margin-top: 15px;
}

.jobs-container h1 {
    font-weight: 800;
    letter-spacing: 10px;
    color: rgba(28, 53, 119);
}

.jobs-container .headline {
	padding-top: 20px;
	font-size: 27px;
    font-weight: 400;
    color: rgba(28, 53, 119);
}

.jobs-container .text {
    padding-bottom: 25px;
    color: rgba(28, 53, 119);
}

.jobs-container .enter-btn {
    background-color: rgba(28, 53, 119);
    color: #fff;
    border: 2px solid rgba(28, 53, 119);
}

.footer-container {
    background-color: #e8e8e8;
    margin-top: 15px;
}

.footer-container .icons {
    padding-top: 60px;
}

.icons .text {
    color: #636b6f;
}

.right-text-container {
    padding-right: 80px;
}

.right-text-container h4 {
    color: #000;
    line-height: 1.4;
}

.contact-info {
    text-align: center;
    padding-bottom: 70px;
    padding-top: 30px;
}

.contact-info h3 {
    color: #000;
}

.show-overlay {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 998;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
}

/**/
.main-menu {
	display: block;
	position: fixed;
	top: 0px;
	bottom: 0px;
	width: 22%;
	height: 870px;
	right: 0%;
	-webkit-transition: all 0.5s;
}

.starter-position {
	display: block;
	position: fixed;
	top: 0px;
	bottom: 0px;
	width: 22%;
	height: 870px;
	right: -22%;
	-webkit-transition: all 0.5s;
}

#spmenu {
    background-color: rgba(28, 53, 119);
    z-index: 9999;
}

#spmenu-link {
    display: block;
    text-align: center;
}

#spmenu-logo {
    width: 150px;
    margin-bottom: 15px;
    padding-top: 60px;
}

#spmenu #block-menu-block-1 > .content {
    margin-top: 0px;
}

#spmenu .menu-block-wrapper > .menu {
    padding: 0px;
    margin-left: 40px;
    margin-right: 30px;
}

#spmenu .content .menu li {
    list-style-image: none;
    list-style-type: none;
    text-align: left;
    display: block;
    border-top: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
}

.first.leaf {
	border-top: none !important;
}

.last.leaf {
	border-bottom: none !important;	
}

#spmenu .menu-block-wrapper > .menu > li > a {
    padding: 5px 15px;
    display: block;
    font-size: 22px;
    color: #fff;
}

.logout-container {
	text-align: center;
	padding-top: 20px;
}

.menu-block-wrapper ul.menu > li > a:hover {
    background-color: #0C1631;
    text-decoration: none;
}

#close-btn-holder {
    position: fixed;
    top: 50px;
    right: 0px;
    z-index: 10000;
    -webkit-transition: all 0.5s;
    visibility: hidden;
}

.close-overlay {
	right: 22% !important;
	visibility: visible !important;
}

#show-push {
    border: 0 none;
    border-radius: 0;
    float: right;
    margin-right: -8px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10000;
}

#show-push.cusbutton {
    width: 200px;
    height: 60px;
    margin: 0 auto;
    background-color: rgba(28, 53, 119, 0.3);
    position: relative;
    cursor: pointer;
}

.bar {
    width: 40px;
    height: 0px;
    border: 1px solid white;
    position: absolute;
    border-radius: 10px;
}

.topa {
    -webkit-transform: rotate(45deg) !important;
    top: 49% !important;
    border-radius: 10px !important;
    background-color: white !important;
    left: 5%;
}

.middlea {
    display: none;
}

.bottoma {
    -webkit-transform: rotate(-45deg) !important;
    top: 49% !important;
    border-radius: 10px !important;
    background-color: white !important;
    left: 5%;
}

.menutextbottom {
    color: #fff;
    top: 17%;
    position: absolute;
    left: 40%;
    font-size: 25px;
}

#show-push.cusbutton:hover {
    width: 210px;
    background-color: rgba(28, 53, 119, 0.9);
    transition-property: width, right, background-color, color;
    transition-duration: 250ms,250ms,250ms,250ms;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.14),cubic-bezier(.175,.885,.32,1.14),ease-in-out,ease-in-out;
    transition-delay: initial, initial, initial, initial;
}

.class-notes.header-image {
    background-image: url('../images/class-notes-header.png');
    background-size: cover;
    background-position: center;
    padding-bottom: 600px;
}

.class-notes-by-period .period {
    background-color: rgb(28, 53, 119);
    margin-top: 15px;
}

.class-notes-by-period .period .first-col {
    padding-left: 7%;
}

.class-notes-by-period .period h2 {
    color: #fff;
    letter-spacing: 10px;
    margin-bottom: 0;
    font-weight: 800;
}

.upload-class-notes {
    background-color: #DEE1EA;
    padding-left: 7%;
    margin-top: 15px;
    margin-bottom: 60px;
}

.upload-class-notes h2 {
    color: rgb(28, 53, 119);
    letter-spacing: 10px;
    font-weight: 800;
    margin-bottom: 0;
}

.first-col {
    display: flex;
    align-items: center;
}

.class-notes-text {
    text-align: center;
    padding-top: 30px;
}

.class-notes-text .text h1 {
    color: rgb(28, 53, 119);
    font-weight: 800;
    letter-spacing: 10px;
}

.class-notes-text .text h4 {
    color: rgb(28, 53, 119);
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 15px;
    padding-bottom: 40px;
}

.additional-section {
    padding-top: 30px;
    display: none;
}

.show-additional-section {
    display: block;
    -webkit-transition: all 0.5s;
    overflow: hidden;
}

.additional-section h5 {
    color: rgb(28, 53, 119);
    padding-bottom: 15px;
}

.class-note-input {
    width: 100%;
    border: 1px solid rgb(28, 53, 119);
    padding-left: 10px;
    padding-top: 15px;
}

.submit-section {
    padding-top: 20px;
    padding-bottom: 40px;
}

.submit-class-note {
    background: no-repeat;
    color: rgba(28, 53, 119);
    border: 2px solid rgba(28, 53, 119);
    border-radius: 7px;
    padding: 10px 45px;
    font-weight: 800;
    font-size: 21px;
}

.submit-class-note:hover {
    cursor: pointer;
}

.button-container {
    text-align: right;
}

.submit-section .section {
    display: flex;
    align-items: baseline;
}

.upload-class-notes .first-col h2:hover {
    cursor: pointer;   
}

.upload-class-notes .arrow {
    display: inline-block;
}

.upload-class-notes .arrow:hover {
    cursor: pointer;
}

.period-header-image {
    background-image: url(../images/period-header-image.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 450px;
}

.class-notes-by-period .additional-section {
    width: 100%;
    padding-top: 5px;
}

.class-notes-by-period .additional-section .row .col-md-12 {
    padding: 0;
}

.upload-class-notes .first-col {
    padding-left: 0;
}

.notes-container {
    background-color: #fff;
}

.notes-container h1 {
    color: rgba(28, 53, 119);
}

.notes-container .text {
    padding-left: 7% !important;
}

.notes-container .text h5 {
    color: #000;
}

.notes-container .title {
    border-bottom: 2px solid rgba(28, 53, 119);;
    padding-left: 7% !important;
    padding-top: 15px !important;
    padding-bottom: 8px !important;
}

.class-notes-by-period .period .first-col h2,
.notes-container .title h1 {
    cursor: pointer;
} 


/* Media Queris */
@media only screen and (max-width: 960px) {
	
	.footer-container .right-text-container {
	    padding: 0 30px;
	}

	.footer-container .contact-info {
	    padding-left: 30px;
	    padding-right: 30px;
	}

	.footer-container .right-text-container {
	    display: none;
	}
}